/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
 *	Specific Styles to Papers Page
 *	Author: Donghoon Lee
 */

A { text-decoration:none; }
.headerMenu A:link { color:#993333; }
.headerMenu A:visited { color:#993333; }
.headerMenu A:active { color:#334499; }
.headerMenu A:hover { color:#334499; }
.headerMenu A:sansserif{ font-family:sans-serif,Arial,Helvetica; }
.papersList { margin-left:0px; }
.paperTitle { margin-left:50px; }
.paperTitle A:link { color:#000000; }
.paperTitle A:visited { color:#000000; }
.paperTitle A:active { color:#000000; }
.paperTitle A:hover { color:#000000; }
.paperCite { margin-left:100px; }
div#medline a {font-size:small;font-family:sans-serif,Arial,Helvetica;float:left;color:#933;padding:1px 3px;margin:2px;border:2px solid #933;}
div#null a {font-size:small;font-family:sans-serif,Arial,Helvetica;float:left;color:#000;padding:1px 23px;margin:2px;border:2px solid #F0EEE4;}
div#website a {font-size:small;font-family:sans-serif,Arial,Helvetica;float:left;color:#3ba63c;padding:1px 3px;margin:2px;border:2px solid #3ba63c;}
div#preprint a {font-size:small;font-family:sans-serif,Arial,Helvetica;float:left;color:#349;padding:1px 3px;margin:2px;border:2px solid #349;}
div#arrow-right a {font-size:small;font-family:sans-serif,Arial,Helvetica;float:left;width:0;height:0;margin:5 0 0 2;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:14px solid #F0EEE4;}

.unsel{background-color:#ffffff; background-position:top; background-repeat:repeat-x; color:#FFFFFF; font-weight:normal;}
.sel {background-color:#3b5998; color:#FFFFFF; font-weight:normal;}
.content{background-color:#ffffff; height:25px; padding-left:20px; padding-right:20px; padding-top:20px;color:#ffffff;}
a {text-decoration:none;color:#ffffff;}
.unsel a:link {color:#888888;text-decoration:none;}
.sel a:visited {color:#ffffff;text-decoration:none;}
.sel a:active {color:#ffffff;text-decoration:none;}
.sel a:hover {color:#ffffff;text-decoration:underline;}

#header {
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	margin-top: 0px;
	top: 0;
	z-index: 10;
	font-family: sans-serif;
}

#content {
	width: 100%;
	margin-top: 120px;
	margin-left: 50px;
	z-index: 1;
}

#simple {
	margin-left: 50px;
	margin-right: 50px;
	text-indent: -25px;
	font-size:13px;
}

/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/

body {
/* 	font:13px sans-serif; */
/* 	*font-size:small; */
/* 	*font:x-small; */
	line-height:1.22;
	width: 100%;
	height: 100%;
	background: #ffffff;
	margin:0;
}

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }



/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome

pre, code, kbd, samp { font-family: monospace, sans-serif; }

 */

/* 
 * minimal base styles 
 */

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859
body, select, input, textarea { color:#444; }
*/

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:middle; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

 /* 
	Primary Styles
	Author: David Z. Chen
 */

#global-title-container {
	width: 100%;
	background-color: #1E60A8;
}
	#title-wrapper {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
		background-color: #0F4D92;
	}
		/* BEGIN: Without Yale Logo */
		#title-container {
			font-size: 22px;
			color: #ffffff;
			padding: 10px;
		}
		/* END: Without Yale Logo */
		/* BEGIN: With Yale Logo */
		#title-left {
			font-size: 22px;
			color: #ffffff;
			padding: 10px;
			float: left;
		}
		#title-right {
			padding: 10px 10px 0px 10px;
			float: right;
			font-size: 22px;
			width: 177px;
		}
		/* END: With Yale Logo */
		
		#title-wrapper a:link, #title-wrapper a:active, #title-wrapper a:visited {
			text-decoration: none;
			color: #ffffff
		}
		#title-wrapper a:hover {
			color: #f0f0f0;
			text-decoration: none;
		}
		#main-container {
			background-color: #f0f0f0;
			border-left: 1px solid #f0f0f0;
		}
#global-container {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
}

	#global-main {
		background-color: #f0f0f0;
	}
		#global-left {
			width: 652px;
			float:left;
			padding: 0;
		}
		#global-right {
			width: 194px;
			float: right;
			padding: 0;
		}
			#nav-container {
				background-color: #f0f0f0;
				padding: 0px;
			}			
			
			#nav-container ul {
				padding: 0;
				width: 184px;
				margin: 0px;
			}
			#nav-container ul li {
			  list-style: none;
			  background-color: #f0f0f0;
			  border-bottom: solid 1px #dfdfdf;
			  text-align: left;
			  margin: 0;
			}
			#nav-container ul li a {
			  display: block;
			  text-decoration: none;
			  padding: .5em;
			  font-size: 14px;
			}
			#nav-container ul li a:link, 
			#nav-container ul li a:visited,
			#nav-container ul li a:active { 
				color: #5c5c5c;
			}
			#nav-container ul li a:hover {
				background-color: #fcfcfc;
			}
			
	#global-footer {
		background-color: #d0d0d0;
		color: #3b3b3b;
		padding: 10px;
	}
		#global-footer a:link, #global-footer a:active, #global-footer a:visited {
			color: #3b3b3b;
			text-decoration: none;
		}
		#global-footer a:hover {
			color: #a0a0a0;
			text-decoration: none;
		}
		#global-footer strong {
			font-size: 13px;
		}
